<!DOCTYPE html>
<html>
<head>
  <title>ProjectsSearch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= form_tag search_path, :class => 'navbar-form to-the-right', :method => 'get' do %>
 <%= text_field_tag :title, params[:title], :class => 'span2', :placeholder => 'Search' %>
<% end %>

</body>
</html>
